<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
    content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Index Template</title>
</head>
<body>
    <h1>Primer Projecte - app Practica16</h1>
    <p>Benvinguts a la primera app Practica16</p>

    <p>Dades Professor:</p>
    <div>
        <label>Nom: </label> {{name}}
    </div>
    <div>
        <label>Cognom: </label> {{surname}}
    </div>
    <div>
        <label>Edad: </label> {{edad}}
    </div>
</body>
</html>