<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
</head>
<body>
    <header>
        <nav>
            <div class="img">
                <img src="../../static/images/libros.png" alt="3 libros">
            </div>
            <div class="llista">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Service</a></l>
                    <li><a href="#">Hire us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
</body>

</html>