{% extends 'index.html' %}
    {% block content %}
    <h2 style="margin-top: 10px;">Es mostrara informacio dels usuaris de DAW2</h2>
    <p>Dades Alumnes:</p>
    <ul>
        {% for usr in usrs %}
        <div style="border: solid black 2px; margin: 10px 0;padding: 5px; width: 15%;">
            <li style="list-style: none;">Nom: {{alumn.name}}</li>
            <li style="list-style: none;">Cognom: {{alumn.surname}}</li>
            <li style="list-style: none;">Edad: {{alumn.edad}}</li>
            </br>
        </div>
        {% endfor %}
    </ul>
    {% endblock %}