<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Template</title>
</head>
<body>
    {% extends 'index.html' %}
    {% block content %}
    <h2>Benvinguts a la pàgina Students de la app Practica16</h2>
    <p>Dades Alumnes:</p>
    <ul>
        {% for alumn in alumns %}
        <li>Nom: {{alumn.name}}</li>
        <li>Cognom: {{alumn.surname}}</li>
        <li>Edad: {{alumn.edad}}</li>
        </br>
        {% endfor %}
    </ul>
    {% endblock %}
</body>
</html>