<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professors Template</title>
</head>
<body>
    <h1>Informacio dels Professors de DAW2</h1>
    <ul>
        {% for prof in profs %}
        <li>Nom: {{prof.name}}</li>
        <li>Cognom: {{prof.surname}}</li>
        <li>Edad: {{prof.edad}}</li>
        </br>
        {% endfor %}
    </ul>
</body>
</html>