<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professors Template</title>
</head>
<body>
    {% extends 'index.html' %}
    {% block content %}
    <h2>Benvinguts a la pàgina Teachers de la app Practica16</h2>
    <p>Dades Professors:</p>
    <ul>
        {% for prof in profs %}
        <li>Nom: {{prof.name}}</li>
        <li>Cognom: {{prof.surname}}</li>
        <li>Edad: {{prof.edad}}</li>
        </br>
        {% endfor %}
    </ul>
    {% endblock %}
</body>
</html>